name: Test application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ^1.25
      env:
        RUNNER_TEMP: /tmp
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v5
    - name: Run test script
      run: go test -v ./...
